   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        background-color: rgb(155, 228, 155);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        // justify-content: center;
    }
    .wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .btn-group{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 10px;
    }
    button{
        margin: 5px 10px;
        width: 150px;
        box-sizing: border-box;
    }
    .container{
        width: 500px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
    p{
        background-image: linear-gradient(rgb(219, 241, 200), rgb(125, 206, 125),rgb(219, 241, 200));
        box-shadow: 0 0 10px rgb(219, 241, 200);
    }
    .container p , input {
        width: 90%;
        background-color: white;
        margin: 10px 5%;
        line-height: 30px ;
        border-radius: 10px;
        text-align: center;
        border: 1px solid green;
        box-shadow: 0 0 13px green;
        border-style: none;
    }
    
    .header{
        width: 100%;
    }
    .header>button{
        width: 90%;
        margin: 5px 5%;
    }
 
    .content{
        width: 90%;
        background-color: rgb(250, 248, 248);
        border: 1px solid gray;
        box-shadow: 0 0 30px rgb(207, 151, 151) inset;
        box-sizing: border-box;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    router-outlet{
        width: 100%;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 250px;
        margin: 20px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .card-container {
        padding: 2px 16px;
      }